@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set DM Sans as the default font */
html {
  font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2D3748;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E0 ;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096
}